<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EFM-NWK</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h3>UOA_UPLOAD_MASTER={{ e_name }},{{ cr_name }},{{ le_name }}</h3>
    <h3>UOA_NWK_PUSH_MASTER={{ e_name }},{{ cr_name }}</h3>
    <h3>UOA_NWK_INSTALL_MASTER={{ e_name }},{{ cr_name }}</h3>
    <br>
    <h3>~~~~~~~~ Other Commands ~~~~~~~~</h3>
    <h3>NWK_SW_UPDATE=1</h3>
    <h3>UOA_NWK_REPORT</h3>
    <h3>UOA_NWK_DELETE_IMAGE</h3>
    <br>
    <a href="{{ url_for('home') }}"> Go to Home Page</a>

</body>
</html>