<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jennic-NWK</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h3>UOA_UPLOAD_JENNIC={{ j_name }},{{crc_name}},{{length_name}}</h3>
    <h3>UOA_NWK_PUSH_JENNIC={{ j_name }},{{crc_name}}</h3>
    <h3>UOA_NWK_INSTALL_JENNIC={{ j_name }},{{crc_name}}</h3>
    <br>
    <h3>~~~~~~~~ Other Commands ~~~~~~~~</h3>
    <h3>NWK_SW_UPDATE=1</h3>
    <h3>UOA_NWK_REPORT</h3>
    <h3>UOA_NWK_DELETE_IMAGE</h3>
    <br>
    <a href="{{ url_for('home') }}"> Go to Home Page</a>

</body>
</html>